.calendar {
    width: 280px;
    height: 300px;
}

.calendar-table_week-days {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
    
.calendar-table_week-day {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}