.calendar-dropdown {
    position: relative;
    width: 120px;
    text-align: end;
}

.calendar-dropdown_list {
    display: none;
    position: absolute;
    right: 0;
}

.calendar-dropdown_list.active {
    display: block;
}