.datepicker {
    width: 345px;
    height: 445px;
    margin: 25px auto;
    position: relative;
    border: 1px solid lightslategray;
}

.datepicker-wrap {
    width: 280px;
    height: 390px;
    margin-left: 33px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.datepicker_legend {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.datepicker_exit-button {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
}

.datepicker_title {
    text-align: center;
}